body{

background-image: url(https://img.freepik.com/fotos-gratis/ilustracao-3d-divertida-de-um-garoto-de-desenho-animado-com-um-capacete-de-realidade-virtual_183364-81191.jpg?w=740&t=st=1719489098~exp=1719489698~hmac=73a36e33cb6b876147b5cbe0f70f91b1bb76778a8ce4bb2c04a92e8d51ef3cb1);
background-repeat: no-repeat;
text-align: inherit;

}
