body{

background-image: url("https://img.freepik.com/fotos-gratis/vista-do-cerebro-com-placa-de-circuito_23-2150834083.jpg?size=626&ext=jpg&ga=GA1.1.216566822.1712942332&semt=sph");
background-repeat: no-repeat;
background-origin: padding-box;



}
